body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #D9E5D6;
	font-family: 'Roboto Slab', serif;
}

.title-text {
	font-size: 8vh;
	font-weight: 700;
}

.sub-text {
	font-size: 3vh;
	font-weight: 500;
}