body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(97, 208, 149, 1) 0%, rgba(88, 164, 176, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(97, 208, 149, 1) 0%, rgba(88, 164, 176, 1) 100%);
	background: linear-gradient(135deg, rgba(97, 208, 149, 1) 0%, rgba(88, 164, 176, 1) 100%);
	font-family: 'Roboto Slab', serif;
}

.title-text {
	font-size: 8vh;
	font-weight: 700;
}

.sub-text {
	font-size: 3vh;
	font-weight: 500;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

.main-content {
	animation: 1s ease-out 0s 1 slideInFromLeft;
	padding: 30px;
}