.slides-navigation .next,
.slides-navigation .prev {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation .prev {
	left: 20px;
	background-image: url('../img/icons/prevSlide.png')
}

.slides-navigation .next {
	right: 20px;
	background-image: url('../img/icons/nextSlide.png')
}